h1 {
  font-family: sans-serif;
  text-align: center;
}
div#display_name {
  width: 85vw;
  max-width: 300px;
  text-align: center;
  margin: 1em auto;
  display: block;
}
button {
  margin: 0 auto;
  display: block;
  box-shadow: none;
  border: none;
  background: #777;
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  transition: background .25s;
}
button:hover {
  background: #333;
}